<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice roller</title>
</head>
<body>
    <h1>dice roller  </h1>
    <h2>welcome to dice game</h2>
    
    <form method="POST">
        <button type="submit">Roll dice</button>
    </form>
    {% if result == 1 %}
       <h3>You rolled: {{ result }}</h3>
       <img src="{{ url_for('static', filename='01.jpeg') }}" alt="" width="300">
    {% elif result == 2 %}
        <h3>You rolled: {{ result }}</h3>
        <img src="{{ url_for('static', filename='02.jpeg') }}" alt="" width="300">
    {% elif result == 3 %}
        <h3>You rolled: {{ result }}</h3>
        <img src="{{ url_for('static', filename='03.jpeg') }}" alt="" width="300">
    {% elif result == 4 %}
            <h3>You rolled: {{ result }}</h3>
            <img src="{{ url_for('static', filename='04.jpeg') }}" alt="" width="300">
    {% elif result == 5 %}
            <h3>You rolled: {{ result }}</h3>
            <img src="{{ url_for('static', filename='05.jpeg') }}" alt="" width="300">
    {% elif result == 6 %}
            <h3>You rolled: {{ result }}</h3>
            <img src="{{ url_for('static', filename='06.jpeg') }}" alt="" width="300">
    {% else %}
    <h3>No roll yet!</h3>
    {% endif %}
</body>
</html>